# ============================================
# ENV Configuration untuk Flutter App (Zami)
# ============================================

# Backend API Configuration
API_BASE_URL=http://10.252.103.96:8000
